<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Guns - 登录</title>
    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    <link href="${ctxPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${ctxPath}/static/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="${ctxPath}/static/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="${ctxPath}/static/css/login.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
    </script>
    <script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
    <style type="text/css">
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>Guns</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎使用 <strong>Guns兼职平台</strong></h4>
                    <ul class="m-b">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一:</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
                    </ul>
                    <strong>还没有账号？ <a href="#">立即注册&raquo;</a></strong>

                <form method="post" action="index.html">
                    <h4 class="no-margins">登录：</h4>
                    <p class="m-t-md">登录到Guns平台</p>
                    <div class="username-login" style="display: block;">
                        <div class="username-box">
                            <label>用户名</label>
                            <input id="userName" type="text"  autocomplete="off"  placeholder="用户名" value="" tabindex="1">
                            <i class="icon username-icon"></i>
                        </div>
                        <div class="password-box">
                            <label>密&nbsp &nbsp码</label>
                            <input id="password" type="password"  placeholder="密码" autocomplete="off" tabindex="2">
                            <i class="icon password-icon"></i>
                        </div>

                        <div class="siller-box sillerVerifyCode" id="iarUsername" style="display: block">
                            <div id="iar1"></div>
                        </div>

                        <div class="login-help clearfix">
                            <a  class="login-switch" href="javascript:void(0)"  sa-data="{'eletp':'短信验证码登录','eleid':'5'}"><i></i>短信验证码登录</a>
                            <a  id="FORGET_PWD" href="javascript:void(0);" onclick="javascript:forgetPwdClick(); return false;" name="Logon_index_denglu001" class="forget-password" sa-data="{'eletp':'忘记密码','eleid':'6'}"  style="text-align: right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp  忘记密码？</a>

                        </div>
                        <button  style="background: #0e9aef;background-color: #0e9aef; width:100px;color: white;font-size: 14px" sa-data="{'eletp':'账号登录（按钮）','eleid':'23'}">登 录</button>
                    </div>

                    <div class="phone-login" style="display: none;">
                        <div class="phone-box">
                            <label>手 机 号 码</label>
                            <input id="phoneNumber" type="text" autocomplete="off" tabindex="1" maxlength="11">
                            <i class="icon username-icon"></i>
                        </div>
                        <div id="Logon_index_denglu040" class="siller-box sillerVerifyCode" style="display:none;">
                            <div id="siller2"></div>
                        </div>
                        <div class="sms-box clearfix">
                            <label>手机验证码</label>
                            <input id="smsCode" type="text" autocomplete="off" tabindex="3" maxlength="6">
                            <i class="icon password-icon"></i>
                        </div>
                        <a name="Logon_index_denglu033" href="javascript:void(0)" style="text-align: right"; class="send-sms" sa-data="{'eletp':'获取短信验证码','eleid':'13'}" >获取验证码</a>
                        <div class="login-help clearfix">
                            <a class="login-switch" href="javascript:void(0)" sa-data="{'eletp':'账户登录','eleid':'4'}"><i></i>账号密码登录</a>
                            <a id="FORGET_PWD" href="javascript:void(0);" onclick="javascript:forgetPwdClick(); return false;" name="Logon_index_denglu001" class="forget-password" sa-data="{'eletp':'忘记密码','eleid':'6'}" style="text-align: right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                忘记密码？</a>
                        </div>
                        <button   style="background: #0e9aef;background-color: #0e9aef; width:100px;color: white;font-size: 14px" sa-data="{'eletp':'短信验证码登录（按钮）','eleid':'24'}" >登 录</button>
                    </div>
                    <div class="bind-login">
                        <span class="title">使用以下账号登录</span>
                        <div class="common clearfix">
                            <a name="Logon_index_denglu027" href="javascript:void(0);" onclick="javascript:alipayLogin(); return false;" class="alipay" sa-data="{'eletp':'支付宝联合登录','eleid':'7'}">
                                <i class="iconfont icon-zhifupingtai-zhifubao"></i>支付宝</a>

                        </div>
                        <div class="more">
                            <!--    <a name="Logon_index_denglu012" href="javascript:void(0);" onclick="javascript:memberCardLogin(); return false;">门店会员卡</a>-->
                            <!--<a name="Logon_index_denglu015" href="javascript:void(0);" onclick="javascript:pptvLogin(); return false;">PPTV</a>-->
                        </div>
                    </div>

                </form>
            </div>
            </div>
        </div>
    </div>




    <script type="text/javascript" src="https://res.suning.cn/project/passport/login/b2c_V7/js/??SFE.lion.dialog.min.js,security.min.js,login.min.js?v=20181018"></script>
    <script src="./iconfont.js"></script>
    <script type="text/javascript">

        //忘记密码
        function forgetPwdClick(){
            location.href = forgetPwd_URL;
        }



    </script>
        <!--// 微信联合登录-->
        <!--function weixinLogin(){-->
             <!--var weixin = "https://open.weixin.qq.com/connect/qrconnect?appid=wx2c91fc0834ac221c&redirect_uri=https%3A%2F%2Fpassport.suning.com%2Fids%2Flogin%3Foauth_provider%3DWeixinProvider&response_type=code&scope=snsapi_login&state=https%3A%2F%2Floginst.suning.com%2F%2Fwebapp%2Fwcs%2Fstores%2Fauth%3FtargetUrl%3Dhttp%253A%252F%252Fju.suning.com%252F%253Futm_source%253Dunion%2526utm_medium%253D12%2526adtype%253D5%2526utm_campaign%253Df0252929-5207-4346-a290-2d6f677adc1b%2526union_place%253Dun";&ndash;&gt;-->
             <!--if(service.length>0){-->
                 <!--var b = weixin.indexOf("&state=");-->
                 <!--location.href = weixin.substring(0,b) + "&state=" + encodeURIComponent(service);-->
             <!--}else{-->
                 <!--location.href = weixin;-->
           <!--}-->
        <!--}-->

</body>

</html>

